[2017-03-31 08:26] HimanshiJain opened #1 "Talk : Playing with partitions using Gparted"
In this talk, starting with the basic information about partitions(eg. logical and physical partitions), file system in Linux and introduction to Gparted, I would actually tell how the different partitions can be moved/resized/copied/changed using Gparted.

[2017-03-31 09:18] HimanshiJain opened #2 "Building Your First Linux Kernel"
This talk would involve the following:
1. versions of Linux Kernel
2. Basic git
3. Downloading (Prerequisite)
4. making Config file
5. Build components and file structure
6. Compiling, Building (considerable time if to be done on the spot)
7. Running

[2017-05-08 18:33] CuriousLearner opened #3 "How do I get started contributing to Open Source?"
A lot of beginners struggle on how do they actually start contributing to any Open Source project.

Various questions I've heard over the years:
 - I am familiar with X, Y, Z language, which project should I contribute to?
 - How do I find bugs to work on?
 - I find it intimidating to look at those bugs.

This talk shall covers basics of Open Source and how do one can choose an organization/projec

[2017-05-14 06:03] meetsha opened #4 "Customising your Linux UI using GNOME"
There are many people who love Linux but over time get bored of its somewhat bland looks. This talk helps you overhaul the UI experience with GNOME. It will cover the following:

- Installing and setting up GNOME.
- Using the GNOME Tweak Tool
- Setting up basic GNOME extensions
- Installing themes and icon packs
- Adding your own shortcuts
- (+ Managing your repositories)

P.s: Ubuntu is officiall

[2017-05-14 11:03] Priyal-Trivedi opened #5 "Crash course on Tmux"
The talk is for the beginners at Linux who require to use the terminal frequently.
Tmux - 'Terminal multiplexer' enables a number of terminals (or windows), each running a separate program, to be created, accessed, and controlled from a single screen.
Installation and understanding the required key bindings for various actions would be covered by me during the talk.

[2017-05-21 17:10] CuriousLearner commented on #5
Hi @Priyal-Trivedi
Can you please update your slides/video here?

[2017-05-21 17:11] CuriousLearner commented on #1
Hi @HimanshiJain
Can you please update your slides/video here?

[2017-05-21 17:11] CuriousLearner commented on #3
Update slides here!

[2017-05-21 17:11] CuriousLearner commented on #4
Hi @meetsha
Can you please update your slides/video here?

[2017-05-21 17:23] HimanshiJain commented on #1
Yes sure!
Following is the Google drive link for slides:
https://docs.google.com/presentation/d/1-uirLJ9HPTCvKoY-
7Op1vZWaZPlKb8JxQLwWfy-yL_c/edit?usp=drivesdk .
Do you want me to add any relevant links for the same that I had used? If
yes I will update by tomorrow.

On 21-May-2017 10:41 PM, "Sanyam Khurana" <notifications@github.com> wrote:

[2017-05-21 17:45] CuriousLearner commented on #1
@HimanshiJain Can you please make that publically acessible?

[2017-05-21 17:49] HimanshiJain commented on #1
I have set its share rights to 'Anyone with the link can view'. Should I
change  it to edit?

On 21-May-2017 11:15 PM, "Sanyam Khurana" <notifications@github.com> wrote:

[2017-05-21 19:18] CuriousLearner commented on #1
@HimanshiJain Can you please post the url again?

[2017-05-22 05:34] Priyal-Trivedi commented on #5
Link to the slides : http://slides.com/priyaltrivedi-1/tmux-terminal-multiplexer#/

[2017-05-22 05:48] CuriousLearner commented on #5
Thanks @Priyal-Trivedi !

[2017-05-23 06:08] HimanshiJain commented on #1
Yes sure!
https://drive.google.com/open?id=1-uirLJ9HPTCvKoY-7Op1vZWaZPlKb8JxQLwWfy-yL_c

[2017-05-23 07:30] CuriousLearner commented on #1
@HimanshiJain Thanks!

[2017-05-23 22:38] meetsha commented on #4
https://drive.google.com/file/d/0Bzt1ZPbjYd_2enNfQjZGc0FSd2M/view?usp=sharing
https://pastebin.com/6nqSvWuZ

[2017-05-24 04:54] CuriousLearner commented on #4
Thanks @meetsha !

[2017-05-24 11:16] CuriousLearner commented on #3
Slides live on: http://www.sanyamkhurana.com/presentations/foss/index.html

[2017-05-24 22:00] svaksha opened #6 "suggestions..."
Hi @shivan1b, @CuriousLearner,
I hope it is ok to suggest a talk topic - since you use github to collect talk topics, how about a talk on git? For ex. ask people to submit their slides as PR's on github - this helps folks learn git in a practical way, they give talks & help you create a permanent resource. I am not in Delhi, else I would have volunteered to do a git talk :) Good luck !

[2017-05-25 04:57] CuriousLearner commented on #6
Hi @svaksha ,

Thanks for your suggestion. Something such as a PR workflow for this repo is still in pipeline. Before that we need to streamline the process of proposing/suggesting talks on the talks repo through a pre-defined template.
Also, about the talk on git, I liked the idea. I would wait for people to come and propose a talk on git.

Also, if someone seeing this issue, would like to sugges

[2017-05-25 05:19] shivan1b commented on #6
@CuriousLearner Meet @svaksha! She is one of the founders of LinuxChix India.
I totally like the suggestion. Would be great to have such a talk for the nexxt meetup.

[2017-05-25 05:27] CuriousLearner commented on #6
Yes, already read about her :)

So, you can put it on group if someone is interested in proposing a talk. Also, they can use the slides that I've made!

[2017-05-25 08:07] svaksha commented on #6
Hi

On Thu, May 25, 2017 at 4:57 AM, Sanyam Khurana
<notifications@github.com> wrote:

Are you aware of software carpentry? They have fantastic (libre)
resources that can be reused for teaching git basics, among other
teaching material. I have used the SWC teaching material
(https://github.com/swcarpentry/git-novice) but then I am a certified
instructor. I am not aware if their resources can be us

[2017-05-28 06:45] anubhakushwaha commented on #6
@CuriousLearner I did take session on git intro here's the link to the slides https://docs.google.com/presentation/d/1h6mfEgcCmq_mjR7b8R-d5PvGah0sl8tOPzDKWinmxq8/edit?usp=sharing ,incase it helps anyway let me know, will be super glad to help :)

[2017-06-05 13:22] aksh98 opened #7 "gdb - Debugging tool for C/C++ programs"
**gdb** - also called GNU debugger is one of the most popular debugging tools to debug C or C++ programs from the command line.
This talk will cover all the steps involved in debugging a program. Stepping through the code and finding the error using various techniques like setting up watchpoints, backtracing etc.

It would be a 30 min talk approximately.

[2017-06-05 13:27] CuriousLearner commented on #7
@aksh98 Do you have the slides ready? If not, when you have them, can you please update here?

[2017-06-05 13:31] aksh98 commented on #7
Yeah sure :) I'll upload them soon.

[2017-06-08 19:39] aksh98 commented on #7
Hi,
Kindly review the attached slides.
Slides: [GNU debugger.pdf](https://github.com/LinuxChixIndia/talks/files/1062188/GNU.debugger.pdf)

[2017-06-09 05:19] CuriousLearner commented on #7
@aksh98 LGTM. I hope it would be along with a demo :)

@shivan1b can take a look here.

[2017-06-09 06:08] aksh98 commented on #7
Yes, I'll present it alongside a demo.

[2017-06-09 07:04] shivan1b commented on #7
Please include LinuxChix India logo/name on the front slide. Everything else looks good. All the best! :)

[2017-06-14 17:37] vijaykrishnavanshi opened #10 "Linux Directory Structure and Linux Security"
**Abstract**

Talk will be focused on the Linux Directory Structure and Linux Security.

**About**

This talk will give some insight to why a directory structure is a big deal and which one should you choose. Talk will somewhat be divided into two parts first one will cover things about the directory structure and the other one will describe security aspects in Linux system. The second part of the

[2017-06-14 18:48] Pulkit07 commented on #10
I wish I can attend this. @shivan1b Ma'am can you please stream this live? :smile_cat:

[2017-06-15 05:45] shivan1b commented on #10
@Pulkit07 We can go live for sometime on Facebook and Twitter. ;)

[2017-06-15 14:50] rajat404 opened #11 "How to be a lazier developer"
**Abstract**

This talk is largely going to cover shell configuration management.

**About**

I'll be talking about various terminal emulators, shells, configuration managers and how one can get more done with less effort.

The following topics shall be covered:
- Terminal Emulators
- Bash & Zsh
- Functions & Aliases
- Shell Configuration Managers
- Environment Variables
- Dotfiles

**Pre-requisit

[2017-06-18 14:29] vijaykrishnavanshi commented on #10
Updated the links to slides.

[2017-06-18 16:07] CuriousLearner commented on #10
Thank @vijaykrishnavanshi !

[2017-06-20 17:40] rajat404 commented on #11
Links to slides & accompanying blog post added. Cheers!

[2017-06-20 18:00] CuriousLearner commented on #11
Thanks @rajat404 !

[2017-07-10 17:41] CuriousLearner commented on #1
Added to `README` in 1902843

[2017-07-10 17:41] #1 closed

[2017-07-10 17:41] CuriousLearner commented on #3
Added to `README` in 1902843

[2017-07-10 17:41] #3 closed

[2017-07-10 17:42] CuriousLearner commented on #4
Added to `README` in 1902843

[2017-07-10 17:42] #4 closed

[2017-07-10 17:42] CuriousLearner commented on #5
Added to `README` in 1902843

[2017-07-10 17:42] #5 closed

[2017-07-10 17:42] CuriousLearner commented on #7
Added to `README` in 1902843

[2017-07-10 17:42] #7 closed

[2017-07-10 17:42] CuriousLearner commented on #11
Added to `README` in 1902843

[2017-07-10 17:42] #11 closed

[2017-07-10 17:44] CuriousLearner commented on #10
Added to `README` in 1902843

[2017-07-10 17:44] #10 closed

[2017-07-12 14:15] anujagrazzel opened #12 "Linux Network Configuration and Troubleshooting Commands."
**Abstract**

_A brief overview of what your talk is about_

**About**

_Write your talk/workshop description here_

**Pre-requisites**

- _Required skills_

- _Required setups_

**Expected duration**

_Time that your talk/workshop would take_

**Level**

_Beginner/Intermediate/Advanced_

**Resources**

_Add links to resources which can further be used to read up on the topic_

**Speaker Bio**

_W

[2017-07-13 00:29] #12 closed

[2017-07-13 04:18] Warlord77 opened #13 "Linux Networking 101"
**Abstract**

_A brief overview of what your talk is about_

**About**
Linux Networking 101

**Pre-requisites**

- Linux based system

**Expected duration**

- 20 - 30 minutes

**Level**

Beginner

**Resources**

_Add links to resources which can further be used to read up on the topic_

**Speaker Bio**

_Write a brief decription about you here_

###### - Can be done after the talk/workshop -

[In

[2017-07-13 04:21] CuriousLearner commented on #13
Hi @Warlord77

Can you please fill up the details? These sections were made to guide speakers to fill in the details needed.

[2017-07-15 04:08] nupuragrahari opened #14 "Linux Network Configuration and Troubleshooting Commands"
**Abstract**

The talk is about a few useful Linux Network Configuration and Troubleshooting Commands. Explaining the usage and purpose of each of these commands.

**Pre-requisites**

Linux based system

**Expected duration**

20-25 minutes

**Level**

Beginner

**Speaker Bio**

A linux user, an open source enthusiast,currently working with javascript.

[2017-07-16 03:25] shivan1b opened #15 "How NAT works"
**Abstract**

This talk will cover about the need for bringing NAT and the future prospects.

**About**

Everybody hears and reads about NAT. Ever wondered how does it work? This talk is going to cover about NAT as a concept, the need of bringing it in and the future prospects given the rise of IPv6.

**Pre-requisites**

None

**Expected duration**

30 minutes

**Level**

_Beginner_

**Resources**

[2017-07-16 05:49] mysticTot opened #16 "Netlink Sockets : A way to communicate with kernel"
**Abstract**

Netlink socket family is an inter process communication mechanism for communication b/w kernel and user space.

**About**
A short intro to netlink sockets, their applications and libraries etc. See  udev and iproute2 utilities.

**Pre-requisites**
None

**Expected duration**
30 minutes

**Level**
Beginner

**Resources**

https://en.wikipedia.org/wiki/Netlink

**Speaker Bio**
One out

[2017-07-16 15:23] CuriousLearner commented on #16
@mysticTot  Can you please give a link to the slides and other reference materials?

[2017-07-16 15:23] CuriousLearner commented on #14
@nupuragrahari   Can you please give a link to the slides and other reference materials?

[2017-07-16 15:24] CuriousLearner commented on #13
@Warlord77   Can you please give a link to the slides and other reference materials?

[2017-07-17 06:10] nupuragrahari commented on #14
https://docs.google.com/presentation/d/1bAXFgUSfaCpQ9Ce9bwLld7Yb5ySpBOSj9SxexNlMLzc/edit?usp=sharing

https://www.tecmint.com/linux-network-configuration-and-troubleshooting-commands/

https://www.computerhope.com/unix/utelnet.htm

On Sun, Jul 16, 2017 at 8:53 PM, Sanyam Khurana <notifications@github.com>
wrote:

[2017-07-17 07:13] CuriousLearner commented on #14
Thanks for the update @nupuragrahari !

[2017-07-18 06:47] mysticTot commented on #16
I don't have slides but I'll upload a text file containing summary and some useful links.
Thanks

[2017-07-18 07:20] CuriousLearner commented on #16
Thanks, we'll wait for your updates.

[2017-07-27 05:35] CuriousLearner commented on #16
@mysticTot Can you please update the material here?

[2017-07-27 05:36] CuriousLearner commented on #13
Hi @Warlord77, Just wanted to ping you to know about the status of slides/reference materials.

Can you please update them?

[2017-08-13 15:49] iayanpahwa opened #17 "Networking- Extended"
**Abstract**

Linux Extended Networking:

In the last meet-up, we had some amazing talks on networking, I'll be picking up from there and talking about few more networking protocols.

**About**

* Secure Shell or SSH
* Telnet
* File Transfer Protocol(FTP and sFTP)
* Message Queue Telemetry and Transport Protocol(MQTT)
* Serial Communication protocol and UART
* Netcat: Networking swiss army knife

[2017-08-24 09:14] CuriousLearner commented on #13
@Warlord77 Just wanted to ping you for the slides/reference materials for your talk, so that they can be updated in the repo. Can you please update it here?

[2017-08-24 09:14] CuriousLearner commented on #16
@Warlord77 Just wanted to ping you for the slides/reference materials for your talk, so that they can be updated in the repo. Can you please update it here?

[2017-08-28 18:20] suheb opened #18 "Talk Proposal: How SSH works?"
**Abstract**

I'll be talking about how Secure Shell (SSH) works.

**About**
I'll provide a basic overview of SSH with the different encryption techniques used to secure the connection to a remote server.

**Pre-requisites**

No pre-requisites

**Expected duration**
30 mins

**Level**

Beginner

**Resources**
The talk will be self-sufficient.

**Speaker Bio**

I'm currently a Software Developer at

[2017-08-28 18:23] garvitdelhi opened #19 "Linux File Systems"
**Abstract**

I will be talking about the various Linux file systems i.e ext2, ext3, and ext4. This talk will give a brief about how Linux file systems work and what is the basic difference between the above-mentioned file systems.

**About**

We have often seen many types of the file system when we are installing Linux for the first time and get baffled by it. I was also curious to know what is t

[2017-08-30 05:19] #15 closed

[2017-08-30 05:20] CuriousLearner commented on #15
Still needs to be updated on `README`

[2017-08-30 05:21] #14 closed

[2017-08-30 05:23] #13 closed

[2017-08-30 05:24] #16 closed

[2017-08-30 19:47] anumittal opened #21 "My experience working on Linux"
**Abstract**

I will be talking about my experience working in Linux, which started with ubuntu, followed by Kubuntu(KDE).
And what are the benefits of Linux over windows

**About**
My talk will be:
-> basic introduction to Linux and my experience using it.
-> why should one choose Linux over any other OS.
-> some features of KDE's OS Kubuntu.

**Pre-requisites**

Not required

**Expected duration

[2017-08-31 11:29] PrabhanshuAttri opened #22 "NPM install and chill"
**Abstract**
This will be a talk about Nodejs and the world’s largest software registry, NPM, the package manager for JavaScript.

**About**

JavaScript’s rising popularity has brought with it a lot of changes, and the face of web development today is dramatically different. The things that we can do on the web nowadays with JavaScript running on the server, as well as in the browser, were hard to

[2017-09-01 15:02] brihijoshi opened #23 "RGSoC and Tessel"
**Abstract**

A brief introduction to what RGSoC (Rails Girls Summer of Code) is, along with application process, work details, project details.
Then, an introduction to Tessel, our project for RGSoC'17, along with a few technical specifications and live Hardware demos.

**About**

Rails Girls Summer of Code is an award-winning global fellowship program aimed at bringing more diversity into Open S

[2017-09-01 17:08] shivan1b commented on #23
Thanks, @brihijoshi! :+1:

[2017-09-01 17:08] #23 closed

[2017-09-11 06:31] xeon-zolt opened #24 "Meilix & Meilix generator"
**Abstract**

 I want to talk about the project I am working on Meilix and Meilix generator
Meilix is the only LXQT based distro in the market and Meilix Generator is a web app to generate custom Meilix based on configuration provided in web app

**About**
I will talk about Meilix how one can contribute to it. Benefits of the project Meilix Generator why it's not a regular distro
if time allows I

[2017-09-18 05:50] suheb commented on #18
Added the slide link. Unfortunately, I don't have the video with me.

[2017-09-18 10:17] ShubhamTatvamasi opened #25 "Linux Install Fest"
**Abstract**

When linux was new and many people didn't knew how to much use linux or even install linux on there machines at that time LLUG (Linux Local User Group) used to do **Install Fest** every month. At the Install Fest they invite all the people who are new to linux and but don't know how to install linux or they have installed linux but facing some issues with installing proper drivers or

[2017-10-06 18:02] rajudev commented on #22
I am part of a team who packages npm packages into Debian. May be we can have a workshop or small talk regarding 'Debian Packaging of Javascript Modules' followed by a talk of yours.

[2017-10-06 18:48] rajudev opened #26 "Women and minorities in Technology | My take on our cultural influences and the diversity crisis."
**Abstract**

A talk on the lack of diversity of minorities and Women in the Technology scenario of companies and organizations today.
**About**
You might have already heard or experienced the of the lack of diversity of Women in Technology. You might have already heard about attempts by a few organizations for balancing the diversity issue following there own approaches to solve the problem. Well

[2017-10-06 18:51] rajudev commented on #26
Note to meetup organizers:
Please let me know here beforehand while finalizing this talk.
Preparation for this talk is a work in progress and I will need some time to get it done. Although feel free to ask me about the progress and preparations on this issue.

[2017-10-06 19:20] rajudev commented on #24
Correct me If I am wrong.
You mention `Meilix is the only LXQT based distro in the market`
Isn't the claim wrong?

[2017-10-06 19:39] xeon-zolt commented on #24
you are partially correct actually other distributions also offer LXQT but not as primary desktop like manjaro is available with LXQT but default Manjaro is with XFCE. Ubuntu is still coming up with LXDE which was created by my mentor but no LXQT official version

[2017-10-23 13:29] ShubhamTatvamasi opened #27 "CryptoCurrency CPU Mining on Linux (Debian/Ubuntu)"
**Abstract**

I will be guiding how you can do CryptoCurrency CPU Mining on your Debian based Linux distro, it will be a hands on demo a step by step guide for Mining CryptoCurrency.

**About**

- Creating the CryptoCurrency wallet
- Understanding the Coin's Algorithm
- Selecting the pool
- Calculating the hash rates

**Pre-requisites**

- Debian based Distro

- Basics of linux command line

**Exp

[2017-10-29 15:09] iayanpahwa opened #28 "Reverse engineering IoT Devices using FOSS"
**Abstract**

Hands on walk through on how to reverse engineer a bluetooth low energy based smart bulb using Free and Open source softwares available such as Android, Wireshark, Linux Bluez utility stack.

**About**

IoT devices are everywhere, companies are desperate to link their name to growing field of Internet of things by bringing their products to market, and to cut the time to market they

[2017-11-10 19:48] lbsrex opened #29 "Competitive Programming and other war related stuff"
An introductory talk about how to get started with competitive programming.

Provision of various resources.

And maybe a few example questions broken down into steps to a complete solution.

[2017-11-24 11:11] #19 closed

[2017-12-15 08:43] shivan1b commented on #29
@lbsrex Do you have any slides/helpful docs relating to your talk? Please update here.

[2017-12-15 08:45] #22 closed

[2017-12-15 08:46] shivan1b opened #30 "Understanding .git"
**Abstract**

What is the mysterious `.git`

**About**

 A small exploration of `.git` and why it is there.

**Pre-requisites**

- Have git pre-installed

**Expected duration**

30 mins

**Level**

Beginner - Intermediate

**Resources**

https://stackoverflow.com/questions/29217859/what-is-the-git-folder/29220296
https://git-scm.com/docs/gitrepository-layout
https://medium.freecodecamp.org/underst

[2017-12-15 09:42] CuriousLearner commented on #22
@shivan1b Please update the talks in `README` once you tag them as completed :)

[2017-12-18 10:32] lbsrex commented on #29
@shivan1b, Cool.

[2017-12-21 02:01] #27 closed

[2017-12-21 02:02] #25 closed

[2017-12-27 04:56] hellozee commented on #24
Doesn't SUSE Studio do the same thing?

[2018-01-21 07:19] iayanpahwa commented on #28
Added link to blog, slides and video!
Good to close.

[2018-01-25 04:33] garvitdelhi opened #31 "Docker"
**Abstract**

Want to have the same environment for all the developers? Let's discuss docker and how it solves the problem.

**About**

I will be talking about what is docker and how docker solves the “Works On My Machine” problem. I will try to answer the following questions: How to create your own dockerized environment? How to deploy them on production servers? What is docker-compose? If time p

[2018-01-31 18:45] CuriousLearner opened #32 "Why should you contribute to Open Source?"
**Abstract**

Just a simple discussion on [Why should you contribute to Open Source?](https://medium.com/@CuriousLearner/why-you-should-contribute-to-open-source-70e6f4a73ae1)

Would try to answer things like "What's in it for me?"

**Pre-requisites**

 - Willingness to learn with a lots of questions

 _Required setups_
None

**Expected duration**
30 mins

**Level**
Beginner

**Resources**

Shall

[2018-02-03 10:29] Manas-kashyap opened #33 "Handson on Debian packaging of nodejs modules."
It will be a Hands-on to pack some small modules of nodejs for Debian (Basicallly npm modules), I will also cover some tools like npm2deb and other tools like lintian , and fixing some patches using Quilt .

Expected Duration
1hr to 1:30 hr

Track
LinuxChix talks are divided intro three tracks:
- Beginner

Pre-requisite
Laptop with Debian sid in the docker.
good internet connection.

[Debian_packa

[2018-02-05 16:07] anubhakushwaha commented on #33
@CuriousLearner Where will this session be given?

[2018-02-06 04:51] CuriousLearner commented on #33
@anubhakushwaha The venue is not finalized yet. It would be most probably on the next coming meetup on 18th Feb.

It should be announced soon.

[2018-02-11 00:30] kuldeepdhaka opened #34 "Introduction to Embedded system development"
**Abstract**

Introduction to Embedded system development

**About**

Introduction to embedded system, is primarily targeted at people who want to design electronics.
Talk will include development using FLOSS tools and libraries.
Talk will comprise of personal experiences, how to start building things and technical details.
Talk might include a demo of programming and runing code on a microcontrol

[2018-02-13 13:00] shivan1b commented on #31
Hi, Garvit!
Will you be available for this talk this Sunday?

[2018-02-14 19:38] shivan1b commented on #24
Hi, @xeon-zolt! Could you please tell if you'd be available this Sunday (18 March 2018) for this talk?

[2018-02-15 05:38] xeon-zolt commented on #24
Yup

[2018-02-16 08:35] #21 closed

[2018-02-16 08:36] #28 closed

[2018-02-16 08:37] shivan1b commented on #29
@lbsrex ping. Could you please update the slides/other resources here?

[2018-02-16 08:38] #18 closed

[2018-02-16 08:38] #2 closed

[2018-02-17 07:23] Manas-kashyap commented on #33
@anubhakushwaha the session is in next meetup, https://www.meetup.com/LinuxChix-India-Meetup/events/244635502/

[2018-02-19 10:45] lbsrex commented on #29
Sorry!!! It totally slipped from my mind. I'll do it today itself.

On Feb 16, 2018 2:07 PM, "Shivani Bhardwaj" <notifications@github.com>
wrote:

[2018-03-01 09:00] jayant7k opened #35 "Demystifying Search"
**Abstract**

Brief introduction on the internals of search. A small demo using Solr or ElasticSearch.

**About**

Search is the most important ingredient in almost every website. Let us see how search works and what needs to be done to setup a search engine. And how to integrate it with your website? We will also have a brief insight on benefits of Solr cloud / ES cluster.

**Pre-requisites**

-

[2018-03-11 16:02] #33 closed

[2018-03-11 16:11] #24 closed

[2018-03-14 11:25] #29 closed

[2018-03-24 16:12] vipulgupta2048 commented on #30
Is this open for someone to take or is @shivan1b taking it?
I would love to explore more into git by going deeper into .git

[2018-03-24 17:37] shivan1b commented on #30
Hey @vipulgupta2048!
I am going to take it, not in the next meetup though. If you'd like to take it up, no problem there. Go ahead. :+1:

[2018-03-25 06:02] jaiverma opened #37 "Exploring the Heap"
**Abstract**

An examination of the glibc heap memory manager.

**About**

A behind the scenes look at how dynamic memory management works on Linux and what happens when you call `malloc` or `free` in a program.

An examination of common programmer mistakes in memory management which could lead to security vulnerabilities and methods on exploiting them. This includes a look at vulnerabilities like

[2018-04-10 04:41] shivan1b commented on #34
Hi, Kuldeep!
Will you be available for your talk this Sunday?

[2018-04-10 10:44] kuldeepdhaka commented on #34
Hey Shivani
Yes, I'm available.

[2018-04-11 10:36] shivan1b commented on #34
Awesome! Thanks, Kuldeep.
Confirming your talk for this meetup. Will update you about the venue and timings soon.

[2018-05-02 05:16] #34 closed

[2018-05-02 07:25] mfrw commented on #37
The url to the resources is broken.

[2018-05-02 10:36] jaiverma commented on #37
Fixed the resources links.

[2018-05-15 21:46] RaiVaibhav commented on #30
Wating for this talk in next Pycon. :)

[2018-05-16 04:11] vipulgupta2048 commented on #30
Hi, this talk is scheduled for the next meetup, you can check here [1] and RSVP, also bring the girls that you think would be interested for the same. We are always looking forward to seeing more female participation.

[1] -https://www.meetup.com/LinuxChix-India-Meetup/events/mlddmnyxhbbc/

[2018-05-16 04:11] vipulgupta2048 commented on #30
Ps. PyCon is entirely something else that relates to Python.

[2018-05-16 06:08] RaiVaibhav commented on #30
Hey Vipul,
Thanks for information I will try my best to aware my colleague to attend the Meetup.
I am not saying that shift it to PyCon, I thought this talk will be in PyCon, I didn't know that it already scheduled.
Also I think when we say PyCon it doesn't entirely means `Python` :)

[2018-06-05 08:54] #37 closed

[2018-06-05 08:54] shivan1b commented on #31
Hi, Garvit!
Will you be available for this talk this Sunday i.e. 10 June?

[2018-06-05 09:02] garvitdelhi commented on #31
Hi, @shivan1b sure I would like to give it on 10th of this week.

[2018-06-05 09:02] #30 closed

[2018-06-05 09:03] shivan1b commented on #31
Awesome. Confirming your talk for this meetup then! :smile:

[2018-06-10 16:56] #31 closed

[2018-06-18 16:45] cocoa1231 commented on #17
Hi! Would you be able to give this talk on the 24th?

[2018-06-19 07:58] cocoa1231 commented on #26
Hey. Would you be available to give this talk on 24th?

[2018-06-19 14:09] cocoa1231 commented on #32
Hi

Would you be available to give this talk on the 24th?

[2018-06-19 14:12] parulagg27 opened #38 "Knock out opportunities - A guide for college beginners"
**Abstract**
We’ll be discussing about various opportunities that are available to an engineering undergraduate from GSOC to RGSOC to the most uncommon ones including hackathons, conferences, scholarships,etc. and tips on how to be more active on various media to find all necessary information. We thought this is important because many of them are still not aware of such opportunities.

**About**

[2018-06-19 14:20] parulagg27 opened #39 "Build and Deploy your applications in minutes with Hasura"
**Abstract**
We’ll discuss about Hasura platform, how to get started with it and what are the different ways in which Hasura can help ( hence, the reasons why anyone should use Hasura). This will be followed by a hands on session on how to use Hasura services to make your project. The talk will also include a project demo.

**About**
Hasura provides Platform as a service(PaaS) with Backend as a se

[2018-06-19 15:07] CuriousLearner commented on #32
Nope @cocoa1231

[2018-06-19 15:53] iayanpahwa commented on #17
Hi @cocoa1231 I'll be mostly traveling this and next week so don't think would be able to prepare or even make it to the next meetup.

[2018-06-19 16:52] parulagg27 commented on #39
Yeah, sure! We both are available that day.

[2018-06-19 20:04] vipulgupta2048 commented on #38
Thanks @parulagg27

[2018-06-20 06:18] cocoa1231 commented on #39
Yes! Great! So confirming your talk :)

Thank you :)

[2018-06-25 10:07] shashikanth171 opened #40 "Digital Security Training"
# Title
Digital Security Training - Online Threats and Protection

**Abstract**

**About**

Malware is software designed to do perform unintended often malicious actions without the users’ permission. Phishing attacks       collect users’ sensitive information such as usernames, passwords, location, financial information usually by disguising as trustworthy communication.

People are tracked on-li

[2018-06-27 16:04] rajudev commented on #26
I am closing this issue for now, not getting enough time for preparing the content. Will open the issue once I am ready for it.

[2018-06-27 16:04] #26 closed

[2018-07-04 21:24] cocoa1231 opened #41 "Workshop Series: Chaos Engineering"
**Abstract**

This is a series of workshops with the idea of helping people learn what to do when you hit a brick wall, and to show people how to learn and solve their problems on their own.

The idea is that a few people who know their way around a Linux system set up a few machines which are intentionally broken by them and then they are given to people to fix.

**About**

Most of what I've lear

[2018-07-05 05:54] parulagg27 commented on #39
Sure @cocoa1231 😄

[2018-07-05 05:54] #39 closed

[2018-07-05 10:13] #17 closed

[2018-07-08 18:51] juggernaut451 opened #42 "Nodejs 101"
**Abstract**

The talk is about node and express. We will be covering the basic of the node and express by making a small web app.

**Pre-requisites**

Basic knowledge of JavaScript.

**Expected duration**

20-30 mins

**Level**

Beginner

**Speaker Bio**

Ashutosh Singh ([Juggernaut451](http://juggernaut451.com/))

[2018-07-19 10:02] iayanpahwa opened #43 "Maintaining projects that depends on other multiple open source projects"
**Abstract**

Often we pull open source libraries in our project which are maintained in different manner , most of them using git based version control system, so we end up having dependencies. Your project depends on a library which depends on other library and so on. So how to maintain such project, attendees will learn in this talk.

**About**

Maintaining open source projects and track depend

[2018-07-19 10:25] sakshisangwan commented on #43
Hey, are you available to deliver this talk on the upcoming meetup i.e. 22nd July? :D

[2018-07-19 11:13] iayanpahwa commented on #43
Yes!

[2018-07-19 11:16] cocoa1231 commented on #41
Yup!

[2018-07-22 08:05] iayanpahwa commented on #43
@sakshisangwan added resources. Good to close the issue now.

[2018-07-29 08:52] anjalibhavan opened #44 "Speech Recognition using Python"
**Abstract**
Computers can tell us whether we’re happy, sad, angry or any of the several emotions we feel. Computers can understand what we’re saying and answer back. How does all this magic happen? This concept of teaching a program to analyze speech and understand it is called speech recognition. I’ll talk about speech recognition and its various nuances, and how it is handled using Python.

**A

[2018-07-31 10:48] cocoa1231 commented on #44
Hi! Would you be available to give this talk on the fifth of August?

[2018-07-31 10:50] cocoa1231 commented on #38
Hey!

Would you be available to give your talk on the fifth of August?

[2018-07-31 10:52] cocoa1231 commented on #32
Hey!

Are you available to give this talk on the 5th Aug. Meetup?

[2018-08-01 16:51] CuriousLearner commented on #32
Hello,

I think this one was delivered earlier in LinuxChix meetup.

[2018-08-01 17:51] parulagg27 commented on #38
Nope, sorry. I'll not be available that day.

[2018-08-03 04:15] GypsyCosmonaut opened #45 "Bash from scratch"
**Abstract**

Bash from scratch

**About**

Would be covering all aspects of Bash

**Pre-requisites**

Just you laptop with Linux on it (be it in a virtual machine like vmware or virtualbox or on bare metal)

**Expected duration**

1 to 2 hours

**Level**

Beginner to Advanced

**Resources**

man bash;

**Speaker Bio**

DevOps Intern at Knowlarity

###### - Can be done after the talk/workshop -

[2018-08-03 06:56] utkarsh2102 commented on #45
Hi, @GypsyCosmonaut.
I'm confirming the talk for 5th August.
The meetup is scheduled at IIITD, from 11-4PM.
Please let me know the requirements you'd have for the above talk.

[2018-08-03 12:38] GypsyCosmonaut commented on #45
Yes

[2018-08-03 15:35] utkarsh2102 commented on #45
Awesome.
Your talk is hereby scheduled for 5th August, 11:00 AM at IIITD.
Please let us know the requirements you have (if any?) for the talk.

[2018-08-05 16:27] vipulgupta2048 opened #46 "Bot Creation Bootcamp (BCB)"
Adding a skeletal issue for people to understand. If approved, please, someone, expand on it or edit it however you wish.

**Abstract**
Making bots is a great skill that is both easy and fun to learn.
People are often anxious about starting with bots, even though there is almost always good documentation or tutorials available for many platforms in several languages.
Bot Conf or BCB will be the ul

[2018-08-11 15:54] utkarsh2102 commented on #38
As Aishna isn't available that day, will you be able to take that up on 18th August?

[2018-08-12 16:37] parulagg27 commented on #38
Hi @utkarsh2102, I won't be available on 18th as well!

[2018-08-16 03:15] Cactusmachete opened #47 "Developing web standards using web platform tests"
**Abstract**

Since the development of the world's second web-browser, there has been a growing need for web-standards. Coordinated by the W3C, web-platform-tests  is an attempt to build a cross-browser testsuite for the Web-platform stack.

**About**

A brief introduction to web-platform-tests, their purpose, how they're used and how they work.

**Pre-requisites**

- Git
- Basic knowledge of Pyth

[2018-08-23 09:47] utkarsh2102 commented on #46
Hi,
Are you guys free to take this session on 2nd September?

[2018-08-23 09:57] realslimshanky commented on #46
@utkarsh2102 Yes, I confirm my presence for the day.

[2018-08-26 04:51] vipulgupta2048 commented on #46
@utkarsh2102 Will be there.

[2018-08-30 16:26] utkarsh2102 commented on #46
Awesome!
Scheduling the talk then.

[2018-09-03 06:02] vipulgupta2048 commented on #46
Slides.
- Twitter Bots - https://slides.com/vipulgupta2048/2itterbots/
- Telegram bots - https://slides.com/realslimshanky/tbotpython

[2018-09-03 06:37] #46 closed

[2018-09-23 20:01] AniVerma17 opened #48 "Android development 101"
**Abstract**

Talk on Android app development for beginner level.

**About**

This talk would cover the basics of Android app development. Starting from a brief on the basic components of an Android application, we would create a sample app to demonstrate the various aspects of developing an Android app.

**Pre-requisites**

- **Required skills:** Understanding of Java/Kotlin and XML.

- **Require

[2018-09-23 20:13] cocoa1231 commented on #48
Confirming this talk for September 30 Meetup

[2018-09-23 20:16] AniVerma17 commented on #48
Alright. :+1:

[2018-09-23 20:17] cocoa1231 opened #49 "Linux Init Systems"
**Abstract**

Init systems are Linux utilities which launch scripts at startup, and I intend to cover what they are, when they come in, and how they work.

**About**

I'll mostly cover systemd services, targets, and a little bit of sockets. Finally, we'll top it off with using the init system to change the administrator password and how to protect yourself from this

**Pre-requisites**

- Basics o

[2018-09-24 10:11] ajyotirmay opened #50 "Shell Scripting 101"
**Abstract**

Talk on Shell Scripting for beginners

**About**

This talk will cover a brief introduction to Shell Scripting. And will answer the following questions:
- What is Shell?
- How to work in a shell?
- Why to write scripts?
- How to write a script?

**Pre-requisites**

- Basic knowledge of command line/terminal

- A Linux distro (anyone would work)

**Expected duration**

30 minutes

**L

[2018-09-26 06:38] nihilist-banana opened #51 "Competitive Coding and other War related Stuff (Hands-on)"
**Competitive Coding and other War related Stuff (Hands-on)**

_A Hands on workshop to get you stared with being a competitive coder and a contract killer._

**About**

Success comes hard in competitive coding. This workshop will include two ways to bet the competition:
1. Hard Work and Pactice
2. Literally beating the "competition" to death.

**Pre-requisites**

- _NONE_

**Expected duration**

_

[2018-10-15 10:37] #43 closed

[2018-10-25 18:13] Soumya0803 opened #52 "Basics of Blockchain"
**Abstract**

Talk on Basics of Blockchain

**About**

I will talk in breif about Ethereum Blockchain, Solidity, Smart contracts.

**Pre-requisites**

None

**Expected duration**

25-30 mins

**Level**

Beginner

**Resources**
www.dappuniversity.com

**Speaker Bio**

I am a fourth year student pursuing B.Tech from Maharaja Surajmal Institute of Technology.

###### - Can be done after the talk/work

[2018-11-07 16:01] iayanpahwa opened #53 "Let's talk Essential Non Tech? - Becoming a technology influencer"
**Abstract**

Using internet to influence tech world.

**About**

Social media for good

**Pre-requisites**

- _Required skills_

- _Required setups_

**Expected duration**

30 mins

**Level**

Beginner

**Resources**

_Add links to resources which can further be used to read up on the topic_

**Speaker Bio**

https://iayanpahwa.github.io

###### - Can be done after the talk/workshop -

[Include l

[2018-11-09 11:32] utkarsh2102 commented on #53
Hey,
Are you available on 11th November for the talk?

[2018-11-09 12:12] iayanpahwa commented on #53
@utkarsh2102 yes!

[2018-11-29 17:03] Ishaan28malik opened #54 "Post Office Protocol and IMAP"
**Abstract**

_So the talk is about the difference between open source mailing system like Zimbra and Thunderbird and the Gmail  _

**About**

_So it's about POP and IMAP and  it will be a short discriptive talk with a little examples how they both differ_

**Pre-requisites**

Just a basic understanding what a protocol is and what an e-mail is

**Expected duration**

_20 minutes approx_

**Level**

[2018-11-29 17:09] CuriousLearner commented on #54
@Ishaan28malik Can you please add the description for your talk?

[2018-11-29 17:13] Ishaan28malik commented on #54
Yes @CuriousLearner on my way

[2018-11-29 17:45] utkarsh2102 opened #55 "20 Minutes of Grep"
**Abstract**

`grep` is a command-line utility for searching plain-text datasets for lines that match a regular expression. Its name comes from the `ed` command `g/re/p` (**g**lobally search a **r**egular **e**xpression and **p**rint), which has the same effect: doing a global search with the regular expression and printing all matching lines.

**About**

I'll mostly cover the right way to find a

[2018-11-29 17:48] utkarsh2102 commented on #55
I'd be free after 15th December.

[2018-11-30 06:38] Ishaan28malik commented on #54
@CuriousLearner done please check and I am free on 9th November  .

[2018-11-30 07:59] utkarsh2102 commented on #54
So can I confirm your talk for 9th November?

[2018-11-30 08:00] Ishaan28malik commented on #54
Yup

[2018-11-30 08:00] utkarsh2102 commented on #54
Alright.
D'you need anything from our end?

[2018-11-30 08:01] Ishaan28malik commented on #54
@utkarsh2102  no nothing  thanks  ...

[2018-11-30 08:02] utkarsh2102 commented on #54
Alright.
@CuriousLearner, please add the appropriate labels. This is scheduled for 9th November.

[2018-12-01 15:39] ryuzaki3 opened #56 "Hands on Flutter"
**Abstract**

Flutter is an open-source mobile application, used to develop applications for Android and iOS, as well as being the primary method of creating applications for Google Fuchsia.
It is different than most other options for building mobile apps because it uses neither WebView nor the OEM widgets that shipped with the device. Instead, Flutter uses its own high-performance rendering engin

[2018-12-03 14:54] cocoa1231 commented on #56
Hi @ryuzaki3,
Can I confirm this talk for December 9?

[2018-12-03 15:00] ryuzaki3 commented on #56
Yes. It is confirmed from my side.

[2018-12-03 15:10] nk521 opened #57 "Assembly 101"
**Abstract**

I'll cover some basic concepts of memory, arch, and heap

**Pre-requisites**

- _Required skills_
C basics, data types and loops/if-else
- _Required setups_
Come with a linux or windows+WSL or mac system.

**Expected duration**

0045-0060

**Level**

_Beginner_

**Speaker Bio**

_I'm Nikhil Kumar Singh. I just study and research on random things. :D_

###### - Can be done after the t

[2018-12-03 15:11] cocoa1231 commented on #57
Hey @nk521
Can I confirm this for December 9?

[2018-12-03 15:12] nk521 commented on #57
Yep!

[2018-12-03 15:12] cocoa1231 commented on #56
Great! Excited to see it :)

[2018-12-03 15:13] cocoa1231 commented on #57
Awesome! Allons-y!

[2018-12-08 17:59] dufferzafar commented on #57
This too is awaiting slides / video!

[2018-12-09 11:55] susheelkumardwivedi opened #58 "Booting process and processes in linux"
**Abstract**
I will cover Linux booting process and different types of process and hands on creation of process

**Pre-requisites**
Basic understanding of of 8086 and x86 architecture
- _Required skills_
Basics of C programming language
- _Required setups_
 install gcc (it come with all Linux environment
**Expected duration**
1 hours -1.30 hours
**Level**
_Beginner/Intermediate

**Speaker Bio**
My

[2018-12-10 13:59] CuriousLearner commented on #58
Hi @susheelkumardwivedi

Can you please add slides / related material for your talk?

[2018-12-11 10:32] susheelkumardwivedi commented on #58
@CuriousLearner  okay i add slides very soon

[2018-12-11 13:33] theLimitBreaker opened #59 "Tail Call Optimization in JVM with Kotlin"
**Abstract**
In recursive function, each call to to the function creates new stack frames in function call stack. This takes a memory.
Tail Call optimization is programming technique in which we do not create new stack frames in the function call stack for recursive functions, hence save memory.
Problem : JVM doesnt support Tail call optimization .
Solution : Kotlin can help you write Tail Call op

[2018-12-11 16:41] CuriousLearner commented on #59
Hello @theLimitBreaker ,

Can you please add slides/ presentation for your talk? Let us know once you're ready!

[2018-12-12 09:09] susheelkumardwivedi commented on #58
[linux_booting_process.pptx](https://github.com/linuxchixin/talks/files/2671181/linux_booting_process.pptx)

[2018-12-12 09:11] susheelkumardwivedi commented on #58
I decide talk only booting process of Linux and some hands on this. May be future i will talk on process because its a wast topic

[2018-12-17 08:58] pythongiant opened #60 "D for Django"
**Abstract**
Building web-apps in Django.
**About**

Topics covered
- Basics of Django programming
- Basic Server side programming in python

**Pre-requisites**

- __Basics of Python__
- __A working unix system__

**Expected duration**

_45 mins_

**Level**

_Beginner_

**Resources**
_https://www.djangoproject.com/_

**Speaker Bio**

_10th grader that likes to code_

###### - Can be done after the

[2018-12-17 09:51] CuriousLearner commented on #60
Hey @pythongiant,

Can you please add some slides you'd like to present?

[2018-12-17 12:43] pythongiant commented on #60
@CuriousLearner check it out now

[2018-12-17 18:29] utkarsh2102 opened #61 "Update README.md"
There's no record of 2018's talks.
The `README.md` is to be updated for the same.

[2018-12-18 02:53] pythongiant commented on #61
um are logs of 2018 mentioned

[2018-12-18 02:55] pythongiant commented on #61
If yes, I'll do it.

[2018-12-18 10:19] utkarsh2102 commented on #61
@pythongiant, there are talk issues that are closed.
You can refer to them. Would take not more than 30-45 minutes, probably.

[2018-12-18 10:22] utkarsh2102 commented on #61
There are not more than 12-13 issues.

[2018-12-18 17:11] pythongiant commented on #60
@CuriousLearner making a Issue in PyDelhi since that seems like a more relevant community for this

[2018-12-18 17:11] #60 closed

[2018-12-20 13:41] pythongiant commented on #61
Hey @utkarsh2102 I have been looking at a few issues but there are many issues where there is no indication weather or not those talks have been given or not

[2019-01-01 08:40] Ishaan28malik commented on #54
Added link to the video

[2019-01-13 10:21] pythongiant commented on #58
Has this talk been delivered?

[2019-01-15 09:50] hellozee opened #62 "Linux Game Jam"
**Abstract**
Gaming is one of the underrated stuff out there for Linux. This meetup we can demonstrate that not only we can play games in Linux but there are abundant tools to make one for ourself too.

**About**
People come and make small games for Linux using any open source tool or tools available to all. Games would be totally software based though hardware based are also encouraged but have t

[2019-01-16 12:21] cosmologist10 opened #63 "Apache Cassandra - Finding the beauty in the architecture"
**Abstract**

In this fast growing world, where we are dealing with complex data which has multi-level nesting and hierarchies, NoSQL acts as a real saviour . While dealing with situations where we want high throughput instead of latency, Cassandra is first preference. In this meetup, I will be talking about cassandra, it's data modeling, architecture of every operations and why these days it is g

[2019-01-17 09:02] hellozee commented on #62
@afreen23 sure, if any of can volunteer for that, :smiley:

[2019-01-17 09:08] afreen23 commented on #62
there should be an archive of all meetups so people like me can learn from that..will be glad if anyone volunteers and posts about it. Thanks!

[2019-01-20 21:54] RN0311 opened #64 "Go or Not to Go(from java-script developer perspective)?"
**Abstract**
Go’s excellent tooling, elegant concurrency model and unique approach to object-orientation have captivated the attention of developers from compiled and scripting languages alike. Through this talk, I want the audience to ponder on what "the server language of future"provided by drawing comparison within the two languages.

**About**

I'll dive the audience from absolute base level t

[2019-01-22 17:09] mridubhatnagar opened #65 "[Non-Tech Talk]: So that you don't make the same mistake of giving up!"
**Abstract**
The journey about giving up on the hope of entering the tech industry. 4 years of engineering, hopelessness. And how someone showed me the light at the end of a dark tunnel.  :)

**About**
1. 4 years of my own journey. 3 years of thinking. Programming is not my cup of tea. I should make a career in non-technical. And, how the trajectory of life changed just because someone gave direct

[2019-01-22 21:17] mridubhatnagar opened #66 "Learning by making mistakes using Git Stash!"
**Abstract**
Covering git stash ground up. Based on the experience of screwing it first, followed by resolving it next. All that I learned in the process. Is what the talk would be about.

**About**
-What is meant by git stash?
- When to use git stash?
- Works branch-wise or on the complete repository?
- Alternatives of using git stash
- Other commands related to git stash

**Pre-requisites**
Basi

[2019-01-23 06:31] #32 closed

[2019-01-23 06:34] #49 closed

[2019-01-23 06:34] #57 closed

[2019-01-23 06:35] #54 closed

[2019-01-23 06:36] #48 closed

[2019-01-23 09:30] CuriousLearner commented on #61
This should've or still should be done before closing the issues once the talk is done.

It takes just 2 minutes, but now would take at least 2-3 hours to cross-verify and update everything.

Just my 2 paise!

[2019-01-23 09:37] shivan1b commented on #61
You're right. @pythongiant if you can collect the already closed issues and add them to README, it';ll be great. Let's make this a habit to ask speakers to add their own names to the list.

[2019-01-23 10:24] pythongiant commented on #61
Alright. Will make a PR by tonight

[2019-01-23 16:23] mridubhatnagar commented on #52
In the linuxchix India plus pyladies birthday meetup, this talk was delivered.

cc @Soumya0803  can you confirm. So, that it can be labeled accordingly.

[2019-01-25 06:09] #61 closed, assigned to nobody

[2019-01-25 12:21] Soumya0803 commented on #52
Yes, this talk was delivered.

Regards
Soumya

On Wed 23 Jan, 2019, 9:53 PM Mridu Bhatnagar <notifications@github.com
wrote:

[2019-01-25 12:31] shivan1b commented on #52
@Soumya0803 could you please add your talk in 2019 archive of talks in README of this repo?

[2019-02-01 19:42] shivan1b opened #69 "Psst Grrltalk, calling me chic is so offensive"
**Abstract**

Break the myths about the derogatory "chicks" used in the name of LinuxChix.

**About**

Many people find it offensive that the name of the community has "Chix" in it which is basically made up of chicks and unIX implying women in Linux but who cares about that. Let's talk about how demeaning the term is.

**Pre-requisites**

- Open brain

- Willingness to learn

- Politely asking qu

[2019-02-07 18:53] ORePoala opened #71 "React-Native vs Flutter"
**Abstract**
Want to get into **mobile app development**, but don't want to go with **Native App Development**?
Can't decide whether to go for **React Native** or **Flutter**?
Here's a session to guide you and help you choose which way to go!

**About**
Topics to be covered-
  1. Brief introduction to Flutter
  2. Brief introduction to React Native
  3. Comparison between Flutter and React Native

[2019-02-08 10:52] The-Lady opened #72 "Cryptography - What it is all about?"
**About**

_**Cryptography** is present since ancient times yet very few people know about it. With this talk, I would like to showcase a very **ancient** and **cryptic** field which has not died but in fact has been reborn in **recent** times and is present in our daily lives more than we might think._

**Pre-requisites**

- _Required skills_
   _None_

- _Required setups_
   _None_

**Expected d

[2019-02-11 17:35] cocoa1231 commented on #72
Hey @The-Lady,
Would you be available to give this talk on Feb. 17?

[2019-02-11 17:38] The-Lady commented on #72
Hi @cocoa1231,
Yes I am available.

[2019-02-13 14:09] nk521 opened #73 "File Formats 101"
**Abstract**
Are files really safe? Or Do you think that your files can do something you never expect them to do?
Crafting Files from scratch in assembly and python and finding flaws in the structure and also in the parsers!

**Expected Duration**
    60-75minutes

**Track**
    Between Intermediate and advanced

**Pre-requisite**
   	A bit of memory knowledge and a bit of ASM knowledge (you can r

[2019-02-14 06:42] sakshisangwan commented on #73
This talk has been scheduled for 17th of February, 2019.

[2019-02-16 13:54] shikhabyala opened #74 "IT in Supply Chain Management"
**About**

_Supply Chain Management plays a key role in every established company yet a very few people know about it. With this talk, I would like to throw some light on the role of IT in Supply Chain Management._

**Pre-requisites**

- _No required skills or setup. Just enthusiasm to learn._

**Expected duration**

_25 mins_
**Level**

_Beginner_

**Speaker Bio**

_Final year IT student_

######

[2019-03-05 21:52] mridubhatnagar opened #75 "Why you should too consider giving talks?"
**Abstract**

_A brief overview of what your talk is about_

**About**

_Write your talk/workshop description here_

**Pre-requisites**

- _Required skills_

- _Required setups_

**Expected duration**

_Time that your talk/workshop would take_

**Level**

_Beginner/Intermediate/Advanced_

**Resources**

_Add links to resources which can further be used to read up on the topic_

**Speaker Bio**

_W

[2019-03-06 12:55] CuriousLearner commented on #75
Hey @mridubhatnagar ,

Can you please fill in the details here?

[2019-03-14 18:40] mridubhatnagar commented on #65
Delivered. We can close this issue :)

[2019-05-02 03:50] shivan1b commented on #73
Hi @nk521 ! Could you please add your talk if delivered to the README of this repo?

[2019-05-02 03:51] shivan1b commented on #72
Hi @The-Lady ! Could you please add your talk to the README section of this repo?

[2019-05-02 03:56] shivan1b commented on #65
@mridubhatnagar could you please add this talk to the README of this repo?

[2019-05-02 04:01] shivan1b commented on #71
Hi @ORePoala ! Could you please add your talk to the README section of this repo?

[2019-05-02 05:22] nihilist-banana commented on #58
Can you deliver this talk on the 12th in noida?

[2019-05-02 08:33] susheelkumardwivedi commented on #58
yes sure i'm able and its my pleasure

[2019-05-07 06:28] nihilist-banana commented on #66
Hey, are you available to give this talk in the meetup on 12th?

[2019-05-07 06:30] nihilist-banana commented on #64
Hey, are you available to give this talk in the meetup on 12th?

[2019-05-07 06:32] nihilist-banana commented on #58
Then should I finalize this talk for the meetup on the 12th?

[2019-05-07 06:41] nihilist-banana commented on #51
Already delivered

[2019-05-07 06:41] #51 closed

[2019-05-07 06:42] nihilist-banana commented on #41
Are you available to deliver this talk in the meetup on the 12th?

[2019-05-07 06:43] nihilist-banana commented on #35
Hey, are you available to give this talk in the meetup on 12th?

[2019-05-07 06:44] nihilist-banana commented on #63
Hey, are you available to give this talk in the meetup on 12th?

[2019-05-07 07:30] nihilist-banana commented on #45
Are you available for a talk on 12th may?

[2019-05-07 07:31] nihilist-banana commented on #44
Hi, Are you available to give this talk on the 12th of may?

[2019-05-07 07:41] susheelkumardwivedi commented on #58
thanks

[2019-05-07 09:31] nihilist-banana commented on #2
Hi, are you available for delivering this talk in the meetup on 12th May?

[2019-05-07 11:29] shivan1b commented on #2
@nihilist-banana oops this is a closed issue. This talk has already been delivered.

[2019-05-07 13:46] anjalibhavan commented on #44
Hi! Erm, I don't want to deliver this talk here, it's nowhere related to Linux or anything interesting (:P). If, however, I'm able to prepare a new talk by tonight, I'll add a new issue request for that instead.

[2019-05-08 02:50] nihilist-banana commented on #44
Thanks a ton

[2019-05-08 10:36] nihilist-banana commented on #55
Are you available in the 12th of May for delivering this?

[2019-05-08 10:38] nihilist-banana commented on #50
Are you available to give this talk in the upcoming meetup on the 12th of May?

[2019-05-08 19:36] RN0311 commented on #64
Hey!
I would love to, but won't be available on 12th. Post that, we're organizing a combined meet up with LinuxChix + PyLadies + WomenWhoGo, Delhi - on 25th May, there I might take up this topic.

[2019-05-08 19:36] #64 closed

[2019-05-09 04:03] ajyotirmay commented on #50
@nihilist-banana This talk was already covered in one of the meetups. Do you want me to do it again?

[2019-05-09 06:51] shivan1b commented on #50
@ajyotirmay thanks for informing. COuld you please add this talk to README then?

[2019-05-09 10:51] #72 closed

[2019-05-09 10:52] shivan1b commented on #72
Thanks for contributing to LinuxChix India with your talk. :)

[2019-05-09 10:53] shivan1b commented on #50
Thanks for contributing to LinuxChix India with your talk. :)

[2019-05-09 10:53] #50 closed

[2019-05-09 10:54] shivan1b commented on #58
Hi Susheel!
Sorry to inform but the upcoming meetup has been cancelled given the shortage of volunteers to manage it. We shall get back to you about your talk for other future meetups. Thank you.

[2019-05-09 14:27] susheelkumardwivedi commented on #58
np

[2019-05-14 04:59] GypsyCosmonaut commented on #45
Hi @nihilist-banana , I would be available for a date after 19 May. If open, let me know.

[2019-05-15 10:08] nileshpatra opened #80 "Make your first telegram bot!"
**Abstract**
This will be a hands-on session in which we will make a telegram bot and deploy it via heroku

**About**

Hands-on session where we will be learning how to make a telegram bot in python and deploy it in a heroku server and thus put it to use in telegram . We will also bee able to the bot we created to various TG groups.

**Pre-requisites**
- _Required skills_
python3
- _Required setup

[2019-05-17 11:54] varchanaiyer opened #81 "Bots to Combat Sexism"
**Abstract**

Four in ten women in the United States have faced gender discrimination in their workplace. Sexism at the workplace is a global problem. Unfortunately, sexism is often reflected in workplace conversations through an unintentional bias. How can we detect such sexism at work?

Conversations in workplaces which can be monitored, often happen on platforms like Slack, Outlook etc. The Sex

[2019-05-17 17:44] shivan1b commented on #81
Confirming your talk for the meetup on 25th.